/*App*/
.App,
p {
  font-family: 'Quicksand', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}
.App {
  max-width: 1400px;
  margin: 0 auto;
}
/*HOME*/
.container {
  height: 102vh;
  background: linear-gradient(180deg, #1e2749 3.47%, #0081a7 272.08%);
  display: flex;
}
.flexLeft {
  flex: 2;
  padding-left: 1.188rem;
}
.hi {
  box-sizing: border-box;
  margin-top: 14rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.name {
  display: flex;
  font-weight: bold;
  line-height: 3.5rem;
  margin-top: 1.5rem;
  font-size: 4.375rem;
}
.frontend {
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.spanBlue {
  color: #0081a7;
}

.description {
  font-size: 0.938rem;
  padding-top: 1rem;
}

.flexRight {
  display: flex;
  padding-top: 3.5rem;
  padding-right: 1.5em;
  flex-shrink: 1;
}
@media only screen and (max-width: 1080px) {
  .symbol {
    display: none;
  }
}
/*About*/
.about {
  color: #0081a7;
  padding-left: 1.25rem;
}
.title {
  font-size: 3.75rem;
  font-weight: bold;
  padding-top: 7.5rem;
  line-height: 3.5rem;
}
.title2 {
  padding-top: 3.125rem;
}

.span2 {
  color: #1e2749;
  font-weight: normal;
}
.formacao {
  color: rgba(30, 39, 73, 1);
  font-size: 1.25rem;
  padding-top: 2.5rem;
}
.containerCertificade {
  font-size: 2.5em;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.containerAccorion {
  background: #1e2749;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 50%;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 1000px) {
  .containerAccorion {
    width: 80%;
  }
}
.containerAccorion:hover {
  cursor: pointer;
}
.titleAccordion {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 25px;
}

.descricaoAccordion {
  font-size: 1.25rem;
  font-weight: normal;
  color: #ffffff;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

.none {
  display: none;
}
/*Projects*/
.main {
  background: linear-gradient(180deg, #13476a 22.08%, #1e2749 50.47%);
  font-family: 'Quicksand', sans-serif;
  color: white;
  height: 45rem;
}

.title3 {
  font-size: 3.75em;
  line-height: 2.5rem;
  font-weight: bold;
  padding-top: 7.5rem;
  padding-left: 1.5rem;
}
.itemProjects {
  height: 17.5rem;
  width: 22.375rem;
  background-color: white;
  border-radius: 10px;
  margin-right: 2rem;
  box-shadow: 5px 5px 4px 0px #0000001a;
}
.containerItem {
  display: flex;
}
.containerProjects {
  margin-top: 4.438rem;
  margin-left: 1.25rem;
  display: flex;
  overflow: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.imgContainer {
  height: 190px;
  border-radius: 10px 10px 0 0;
}
.imgContainer img {
  border-radius: 10px 10px 0 0;
}
.titleItem {
  margin-left: 0.313rem;
  margin-top: 0.313rem;
  line-height: 20px;
  color: #1e2749;
  font-weight: bold;
}
.itemDescription {
  margin: 0.5rem 2.313rem 0.313rem 0.313rem;
  font-size: 0.625rem;
  font-weight: bold;
  line-height: 0.813rem;
  color: #1e2749;
}

.btnProjects {
  display: flex;
  margin: 5px 8px 0px 5px;
}
.btnGit,
.btnSite {
  background-color: #0081a7;
  border-radius: 10px;
  margin-right: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
}
a {
  display: block;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.sliderContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.sliderContainer {
  width: 100%;
  text-align: center;
  padding-top: 3.125rem;
}
.sliderContainer button:first-child img {
  transform: rotate(180deg);
}
/*Experience*/
.experienceContainer {
  color: #0081a7;
  padding-left: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding-bottom: 8rem;
}

.empresa {
  font-weight: bold;
  margin-top: 3.125rem;
  color: rgba(30, 39, 73, 1);
}

.cargo {
  color: rgba(0, 175, 185, 1);
}
.duracao {
  color: rgba(30, 39, 73, 1);
}

/*Contact*/
.containerContact {
  background: linear-gradient(180deg, #1e2749 3.47%, #0081a7 272.08%);
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  display: flex;
  font-weight: bold;
  flex-direction: column;
}

.info {
  margin-top: 6.25rem;
  margin-left: 1.25rem;
  font-size: 2.5rem;
  line-height: 2.813rem;
}
.socialMedia {
  margin-left: 1.25rem;
  display: flex;
  margin-top: 2.125rem;
}

.github a,
.linkedin a {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.linkedin a {
  margin-left: 1.25rem;
}

.contactLeft {
  flex: 1;
}

.dataGuilherme {
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: normal;
  margin-left: 1.25rem;
}
.dataGuilherme p:last-child {
  margin-top: 5px;
}
/*FORM*/
.contactRight {
  display: flex;
  margin-top: 60px;
  width: 70%;
  font-family: Quicksand;
  line-height: 25px;
  letter-spacing: 0em;
}
form {
  width: 50%;
  padding-left: 1.5rem;
}

.inputData {
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  color: white;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding-top: 40px;
  outline: 0;
}
label {
  font-weight: bold;
  color: #0081a7;
  display: block;
  margin-top: 20px;
}

textarea {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
  width: 388px;
  height: 171px;
  background-color: transparent;
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  width: 100%;
  color: white;
  box-shadow: none;
  outline: 0;
}

.sendBtn {
  font-family: Quicksand;
  background-color: #0081a7;
  border: none;
  color: #1e2749;
  width: 66px;
  height: 28px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 63px;
  float: right;
  margin-top: 15px;
}
.sendBtn:hover {
  background-color: rgba(0, 175, 185, 1);
}

.infoContainer {
  display: flex;
}

@media only screen and (max-width: 900px) {
  .infoContainer {
    flex-direction: column;
  }
  form {
    padding-left: 1.5rem;
    width: 70%;
  }
  .contactRight {
    width: 100%;
  }
}
.header {
  display: flex;
  justify-content: flex-end;
  font-size: 0.938rem;
  line-height: 1.188rem;
  color: #1e2749;
}

.header ul {
  display: flex;
  list-style: none;
  position: fixed;
}
.headerList {
  padding-right: 2.5rem;
  padding-top: 2.5rem;
  background: none;
  cursor: pointer;
  color: #1e2749;
}

.header ul:hover {
  display: flex;
  list-style: none;
  position: fixed;
}
.linkColor {
  padding-right: 2.5rem;
  padding-top: 2.5rem;
  background: none;
  cursor: pointer;
  color: aqua;
}

@media only screen and (max-width: 1080px) {
  .header {
    display: none;
  }
}
